.Header {
  text-align: center;
}

.App {
  text-align: center;
}

.App1 {
  text-align: right;
  width: 37%;
  font-size: 0.9em;
}

.App2 {
  text-align: left;
  width: 30%;
  font-size: 0.8em;
}

.App3 {
  text-align: left;
  width: 20%;
  font-size: 0.8em;
}

.App4 {
  text-align: center;
  width: 25%;
  font-size: 0.8em;
}

.App-logo1 {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo2 {
  width: 400px;
  height: 70px;
}

.App-logo3 {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: cyan;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show.react-bs-table-sizePerPage-dropdown ul:last-child {
  display: block;
}

/* .App {
  display: flex;
  flex-direction: row;
} */
